[2016-10-17 09:00] ronitd opened #7 "Scrolling not working when selecting another category from menu."
@gsomoza  @damian-pastorini
It works fine when we select a category for the first time and then scroll down, the problem starts when we select another category & then scroll down.Though it starts working fine on page refresh.

[2016-10-17 10:07] ronitd opened #8 "Next page Products are coming on a new line Instead of Next to the last product of the previous page."
@gsomoza @damian-pastorini
![screenshot from 2016-10-17 15 35 02](https://cloud.githubusercontent.com/assets/4819409/19433680/5c82567e-947f-11e6-8fbf-41b031342b04.png)

[2016-10-18 11:04] damian-pastorini commented on #7
Hi @ronitd we are a bit overloaded of work for now but we will take a look on the issue as soon we have some time.
Also, if you can give us more info about the environmente will be great, like Magento version, if you are using the sample data, etc.

Thanks!

[2016-10-19 06:51] ronitd commented on #7
Hi @damian-pastorini my environment details are
1. Magento  Community Edition 2.1.0,
2. Magento's sample data,
3. Ubuntu 14.04,
4.Nginx.

[2017-02-23 23:47] gewaechshaus opened #10 "Multiple issues related to minfication, merging and bundling js"
Hey there,

I did a composer based installation in a Magento 2.1.4 system. However, oob there seems to be a problem (maybe related to combine/merge/minify js) with an undefined object

    window.iasConfig is undefined

See everything frontend related here:
https://www.makerdise.com/3d-druck/ersatzteile.html

I just noticed that there are other missing objects related to the window object.

Best
J

[2017-02-24 10:07] gewaechshaus commented on #10
It seems like the spinnerSrc: base64 encoded image, which is a very long string, seems to get cutoff without the closing

     '

during the merge/minify process.

https://github.com/Strategery-Inc/Magento2-InfiniteScroll/blob/master/view/frontend/templates/js.phtml#L36

I did set an image in the backend configuration to make the condition match before.

[2017-02-24 11:10] gewaechshaus commented on #10
ReferenceError: IASPagingExtension is not defined

[2017-02-24 11:53] gewaechshaus commented on #10
Definitly related to bundling... I am trying to exclude the .js from it, without success atm

     <exclude>
        <item type="file">Strategery_Infinitescroll::js/infinitescroll.js</item>
    </exclude>

[2017-02-24 14:59] gsomoza commented on #10
Thanks for reporting this! @damian-pastorini will take a look ASAP. Meanwhile, if you find a fix, please feel free to submit a PR!

[2017-02-24 15:01] gsomoza commented on #10
@damian-pastorini TBH I don't see why we have to use PHP to echo that? It seems like that whole string can go straight into the JS. And there might even be better options than doing that in the first place.

[2017-02-24 15:11] gewaechshaus commented on #10
I enabled the debug flag on www.makedise.com... I tried all possible variations to exclude it from bundling, actually without success.

[2017-02-24 15:15] gsomoza commented on #10
I think the problem is not with bundling, but with how we're trying to import and use some of the IAS extensions (it's currently failing to use the `IASPagerExtension`).

We should look into how to properly use IAS using RequireJS: we should distribute the original files instead of the minified versions and require them through RequireJS - since Magento 2 will take care of minifying them, etc, usi

[2017-02-24 15:16] gsomoza commented on #10
This may even be an opportunity to NOT distribute IAS using this extension, but rather let `npm` handle that (assuming that IAS is available on `npm`).

[2017-02-24 15:32] gewaechshaus commented on #10
@gsomoza - if I disable minification, merging and bundling the module works as expected, but you're right.

https://www.npmjs.com/package/jquery-ias

[2017-02-24 15:49] gewaechshaus commented on #10
I just uploaded
https://github.com/webcreate/infinite-ajax-scroll/blob/master/src/jquery-ias.js
to the related folder and changed
https://github.com/Strategery-Inc/Magento2-InfiniteScroll/blob/master/view/frontend/requirejs-config.js#L18
to
       jqueryIas: 'Strategery_Infinitescroll/js/jquery-ias'

Did a setup:static-content:deploy ... and flushed/cleaned all caches, but that doesn't seem to aff

[2017-02-24 16:12] gewaechshaus commented on #10
Just a note, no solution to fix the issue:
The < exclude > does work in a custom child theme by setting this code in etc/view.xml

     <view xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/view.xsd">
       <exclude>
           <item type="file">Strategery_Infinitescroll::js/infinitescroll.js</item>
           <item type="file"

[2017-02-24 16:17] gsomoza commented on #10
That's probably because we're not distributing the latest version of IAS - another reason to delegate that to Magento.

On your last comment I didn't quite understand: does that view.xml work or not?

[2017-02-24 16:21] gewaechshaus commented on #10
I does work in general (the files are minified by magento and included seperatly like modernizr.js), but this doesn't seem to affect the issue in my case.

[2017-02-24 16:44] gsomoza commented on #10
Got it, thanks. I think if we refactor the way we include IAS like I mentioned above *everything* should work as it should. Definitely the way to go IMO

[2017-02-24 17:13] gewaechshaus commented on #10
This would be the best way. Thanks a lot...

[2017-02-24 17:19] gewaechshaus commented on #10
This would be the best way. Thanks a lot...

[2017-03-02 15:41] gewaechshaus commented on #10
@gsomoza - are there any news related to this issue?

[2017-03-06 10:25] gsomoza commented on #10
Not yet, and it's possible it will take a while before we can get to it.. feel free to contribute a PR if you find the time!

[2017-05-21 12:35] vasilii-b opened #13 "Debug mode still active when it is disabled in admin panel"
In admin panel I turned off debug mode, but it continue to show log messages in window's console.

This is because the check is wrong:

` window.SgyIAS = {
        debug: window.iasConfig.mode,
        _log: function(object) {
            if(this.debug) {
                console.log(object);
            }
        },`

In `window.iasConfig.mode` comes the _Items (grid mode)_ from admin settings, bu

[2017-05-22 11:50] gsomoza commented on #13
Thanks for reporting @vasilii-b. This is related to #12, which was just merged to `master`. We'll release a new version as soon as we can merge #11

[2017-05-22 11:53] gsomoza commented on #13
In fact this is a bugfix so I just released as 0.2.2

[2017-05-22 11:53] #13 closed, assigned to nobody

[2017-06-08 13:31] sakshi-mobicules opened #14 "Infinite Scroll not working in Firefox"
Infinite scroll pagination is not working in firefox.. Its working in chrome. Please fix ..

[2017-07-31 09:36] stijnbernards commented on #10
@gsomoza @gewaechshaus I've provided a fix for this issue, I hope this solves it for you :)

[2017-07-31 09:58] gsomoza commented on #10
Nice, thanks! @damian-pastorini could you review that?

[2017-07-31 14:26] gewaechshaus commented on #10
@gsomoza - will provide feedback asap! thanks a lot.

[2017-08-04 08:47] gewaechshaus commented on #10
Hi @gsomoza, @stijnbernards

many thanks, that does fix the issue indeed - take a look at
https://dev.makerdise.com/mechanik.html

I noticed another issue, maybe related to nginx conf and long urls
https://dev.makerdise.com/mechanik.html

Take a look at the console, there are 404 errors logged down... I am trying to trace this now.

Regards
Jan

[2017-08-04 10:39] gewaechshaus commented on #14
In our case both browsers are working
FF 54.0.1 (32-Bit)

You can test it at
https://www.makerdise.com/3d-druck/ersatzteile.html

[2017-08-04 11:16] gsomoza commented on #14
Thanks for helping with this @gewaechshaus !
I just verified it's working as well, so I'm closing this ticket for now.
@sakshi-mobicules if you want you can open another ticket with any specific details about what's causing the issues on your end.

[2017-08-04 11:17] #14 closed, assigned to nobody

[2017-08-04 11:19] gsomoza commented on #10
Thanks @gewaechshaus !

[2017-09-22 17:41] mikeaccelm opened #16 "Next page of products doesn't show within category"
Hello, we've been having an issue with our infinite scroll, where when you go to the next page it doesn't actually show the products that should be on the next page.  It looks like it just shows all the new products like it would on a storefront.

We are working with a t-shirt store, so it's disheartening to see that when you're on maternity shirts or  youth shirts, the next list of shirts are dri

[2017-09-25 10:13] gsomoza commented on #16
The way the extension works is it simply fetches the next page in the background (via AJAX) and then parses the results to insert them in the current page. So it "should" show whatever is returned by clicking on the "next page" button when InfiniteScroll is not available.

A quick way to test that would be to disable the extension to make sure your pagination works as intended without it.

If ever

[2017-09-25 12:41] mikeaccelm commented on #16
Hi Gabriel,

We currently had to disable the infinite scroll extension to get it to work properly.  A live example is located at: https://www.crazydogtshirts.com/funny/menst <https://www.crazydogtshirts.com/funny/menst>

Mike DeJesus  |  Developer
Accelerate Media  |  accelm.com <http://accelm.com/>  |  585.319.5422
300 State St.  Suite 405  |  Rochester NY 14614

[2017-09-25 12:45] gsomoza commented on #16
Any chance you could show us the request logs (for AJAX requests) when the extension is enabled? Or "frontend-only" access to an acceptance/staging environment? You can send any private details to contact (at) strategery (dot) io.

[2017-09-25 19:37] mikeaccelm commented on #16
Hello,

We sent a message earlier today to your contact email that you’ve provided.  When you get a chance can you confirm that you received it?

Mike DeJesus  |  Developer
Accelerate Media  |  accelm.com <http://accelm.com/>  |  585.319.5422
300 State St.  Suite 405  |  Rochester NY 14614

[2017-10-02 13:01] mikeaccelm commented on #16
Hi Gabriel,

Have you found any solution to this?  It appears to be appending a timestamp to the query, which is creating the issue.  We had sent you an email at your strategery email but haven't received a response.

[2017-11-08 14:48] damian-pastorini commented on #16
Hi @mikeaccelm I just merged a few fixes and tested the InfinteScroll in a Magento v2.1.9, everything worked fine, do you still have the issue?
If the issue persist:
1 - Do you have any customizations that could be involved? Like a custom theme or module?
2 - Could you provide a URL where we can check it? I just try with https://www.crazydogtshirts.com/funny/menst but there's an error "Service Tem

[2017-11-08 15:15] damian-pastorini commented on #10
Hi everyone,
I just tested in a Magento 2.1.9 and merged some of the PR's, everything looks fine even after enabled/disabled the JS Merge, Bundling and Minify.
I didn't merged:
https://github.com/Strategery-Inc/Magento2-InfiniteScroll/pull/15/files#diff-9351d8171ad9c9d83cd82c302bb105ae
Since that PR modify the original IAS library (which I would like to avoid), and even without this PR the extensi

[2017-11-08 15:16] mikeaccelm commented on #16
Hi Damian, we're doing site wide changes right now.  Since, we've decided to go with a different infinite scroll extension.  Thank you for your help.

[2017-11-08 15:16] #16 closed, assigned to nobody

[2017-11-08 15:30] damian-pastorini commented on #8
Hi @ronitd , if you like to change that behavior you just need to change the infinitescroll selector configuration.
You can change the selector grid value from: .products-grid
To: .products-grid .product-items .product-item
And that way you will be targeting the items instead the rows.
![image](https://user-images.githubusercontent.com/1211779/32557329-986abac8-c480-11e7-90d0-ce7d6ee6193e.png)
The

[2017-11-08 15:30] #8 closed, assigned to nobody

[2017-11-08 15:32] damian-pastorini commented on #7
Hi @ronitd , we merged a few fixes over today and tested in Magento 2.1.9, which is working fine.
Please make sure to get the fixes from the master branch.
Best,

[2017-11-08 15:32] #7 closed, assigned to nobody

[2017-11-19 19:48] gewaechshaus commented on #10
@damian-pastorini - I did drop the old installation and did a composer require strategery/magento2-infinitescroll:dev-master in a M2.2.1 installation... Still got the primary issue in this system as before, which is fixed here https://github.com/Strategery-Inc/Magento2-InfiniteScroll/pull/15/files#diff-9351d8171ad9c9d83cd82c302bb105ae

uncaught exception: ReferenceError: IASPagingExtension is not

[2017-11-24 13:18] damian-pastorini commented on #10
Hi @gewaechshaus , I'm not sure if the package for composer was updated, could you try with the code from here (GIT) please?
I don't have much time to check on this now, but I'll have it present for when I have some time.
Thanks!

[2017-12-21 11:26] JanisE opened #23 "The latest tag ignored by Composer / support for PHP 7.1"
The Packagist has not picked up the latest tag: https://packagist.org/packages/strategery/magento2-infinitescroll

So, Composer does not see it, it downloads only version 0.2.0, which, in turn, does not support PHP 7.1.

[2017-12-21 11:59] AntonEvers commented on #23
@damian-pastorini please tag your project as version `0.2.3` in Github. If the version in `composer.json` and the Github tag don't match, composer ignores the version.

[2017-12-21 12:08] gsomoza commented on #23
Released `0.2.3` with the latest changes and PHP 7.1 support. Please test well before releasing as there were some changes to the RequireJS configuration – that although they should be backwards compatible, we haven't tested them enough yet to be 100% sure.

[2017-12-21 12:08] #23 closed, assigned to nobody

[2018-01-25 11:08] vnahalpara opened #24 "Uncaught TypeError: $(...).catalogAddToCart is not a function"
Hey there,

We install this extension in magento 2.2.1 and we got below error

Uncaught TypeError: $(...).catalogAddToCart is not a function.

I don't test this with default so may be theme can conflict

[2018-01-25 13:45] gsomoza commented on #24
Ok, thanks for reporting! We'll queue up for research. I applied the "help wanted" label in case someone wants to test this against vanilla 2.2.1, to see if it happens there as well.

[2018-03-14 16:15] JTessmer commented on #24
This appears to be a simple missing dependency: Adding "catalogAddToCart" to the define dependency array in infinitescroll.js corrects the issue.

[2018-03-14 20:30] gsomoza commented on #24
Thanks so much for reviewing that @JTessmer! Any chance you could submit a quick PR to fix it?

[2018-05-24 20:12] y4ahmad opened #26 "On Scroll product isn't loading"
I am using a this free module. When I scroll down ajax request initiate and response come with new page content . But this response not updating on current content. Can anyone suggest the solution for this

[2018-05-25 15:28] gsomoza commented on #26
You may have some compatibility issue(s) with 3rd-party extensions or custom code. Could you try disabling other extensions to see if at least the Infinite Scroll functionality works?

[2018-05-26 04:52] y4ahmad commented on #26
Hello @gsomoza ,

Thanks for your suggestion. I tried with that and yes it worked for me.  But due to this I am unable to use the other extension. In that case can you please suggest me any ajax filter which is compatible with Infinite Scroll?

[2018-05-27 15:04] gsomoza commented on #26
Any AJAX-related extensions that heavily modify the way the catalog pages are displayed/rendered will have conflicts with our extension. This means that a developer will have to integrate them together manually.

Unfortunately this is not something we can do ourselves because this is a free extension and there are dozens of other extensions that we would have to provide (and maintain!) compatibili

[2018-05-27 15:04] #26 closed, assigned to nobody

[2018-06-09 07:34] ihor-sviziev opened #27 "License for Infinite Ajax Scroll plugin"
I see that current magento 2 module using jquery-ias plugin, that in head contains information that for commercial use we need to buy license:
https://github.com/Strategery-Inc/Magento2-InfiniteScroll/blob/master/view/frontend/web/js/jquery-ias.min.js#L6

Could you explain, should we buy license for using this extension on Magento 2 in commercial projects?

[2018-06-11 07:31] gsomoza commented on #27
The license guidelines for Infinite Ajax Scroll are here: https://infiniteajaxscroll.com/docs/license.html

We're not lawyers, so we can't offer you advice about your specific situation – you should do that research yourself based on what type of company you own, what you're doing with the source code, etc.

With that being said, we think there are two main reasons why users of this plugin may not

[2018-06-11 07:31] #27 closed, assigned to nobody

[2018-06-11 07:57] ihor-sviziev commented on #27
@gsomoza  thank you for reply, but it's actually still not clear. So I created https://github.com/webcreate/infinite-ajax-scroll/issues/319 for response from plugin developers

[2018-06-11 08:04] gsomoza commented on #27
Sure, they should be able to give you a more final answer.

[2018-06-11 10:36] ihor-sviziev commented on #27
@gsomoza we need to have this license. Details: https://github.com/webcreate/infinite-ajax-scroll/issues/319#issuecomment-396187650

[2018-06-11 11:06] gsomoza commented on #27
Thanks for the update. I'm following that issue to see what comes out of it so we can update our plugin (or docs) if necessary.

[2018-06-12 08:46] gsomoza opened #34 "Prevent adding underscores in URL"
See the discussion on https://github.com/Strategery-Inc/Magento2-InfiniteScroll/pull/33

[2018-06-20 02:24] Zyles opened #35 "A button to load more?"
Does this extension have a "Load more products" button? I don't want to load infinitely without the user clicking this button but I don't want pagination.

If not, can it be added?

Thank you.

[2018-06-20 07:44] ihor-sviziev commented on #35
By default automatically loads 3 (or 5, i'm not sure) next pages, then "Load more products" button appearing

[2018-06-20 08:50] gsomoza commented on #35
You can also customize most things either via configuration options or with a little bit of code.

[2018-08-08 17:53] Zyles commented on #35
Got it to work.

Thanks for a good module!

[2018-08-08 17:53] #35 closed, assigned to nobody

[2018-08-20 13:11] ghost opened #39 "IASPagingExtension is not defined issue in Production mode."
Everything is working fine but when we switch into production mode extension is not working. I debug but did not find any issue.
![ajaxscroll_issue](https://user-images.githubusercontent.com/28080068/44342452-a84ed600-a4a8-11e8-9615-06c484aeca08.png)

[2018-08-20 15:57] gsomoza commented on #39
Did you already make sure you [re-deployed all static assets](https://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-static-view.html)?

[2018-08-21 12:01] ghost commented on #39
Yes I did everything .

[2018-10-25 10:08] Thundar commented on #39
This happens to me too with Magento's JS minification in action. In Chrome debug I see special characters (returns) inside jquery-ias.min.js, related to issue https://github.com/Strategery-Inc/Magento2-InfiniteScroll/issues/10

[2018-11-22 12:24] benjick commented on #10
Any workaround for this?

[2018-12-01 07:20] blaine12100 opened #40 "Scroll Threshold Not Increasing for Some Pages."
Hi

The Extension is working great for all the pre defined pages in Magento 2.2.5 as expected.However,i am having a problem while using the same library for a different page.In the View.xml for my page,i have included the line <update handle="infinitescroll"/> so infinite scroll starts to work.However the scroll offset keeps on changing as expected but the scroll offset for this page is at a const

[2018-12-03 22:15] gsomoza commented on #40
Is it possible that on this page some CSS rules are making the page take up less space vertically than the other pages? If you have a public URL we can visit then that would be great.

I should add that we don't normally offer free support for this free + open-source extension :), but if I find time I'll take a look.

If at any point you find a fix and the problem was on this extension, please don

[2018-12-10 12:15] icreativetechnology opened #41 "Infinite scroll is not working when I use Amasty shop by extension for category page."
I am using Amasty Shopby extension (Layered Navigation) in my site.
When I disable the amasty extensions, infinite scroll works perfectly.
But when I enable the amasty extensions, infinite scroll doesn't work.
Can someone tell me what can be the reason behind this issue?

[2018-12-10 12:17] gsomoza commented on #41
It's probably a conflict, since both extensions deal with loading products via AJAX. Probably something similar to what's described in this article (for the M1 extension): https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/3rd-party-Extension-Conflicts - solutions should be similar as well.

[2019-02-25 10:23] unicoder88 opened #43 "Fix release 0.2.5 on Packagist"
Good day!

I noticed that tag 0.2.5 exists and attempted to install it, however, only 0.2.4 is found. This is because composer.json has mismatching version: 0.2.4.

Do you think you could fix that?

Thanks :)

[2019-02-25 10:55] gsomoza commented on #43
That's the stupid thing about Magento marketplace requiring the "version" attribute on composer.json :)

Good catch – thanks.

[2019-02-25 10:55] gsomoza commented on #43
Could you try now?

[2019-02-25 12:02] unicoder88 commented on #43
Awesome, all cool now!

https://prnt.sc/mpt7wn

[2019-02-25 12:35] #43 closed, assigned to nobody

[2019-03-07 07:23] manishgoswamig commented on #41
I am facing the same issue.
To resolved this issue you need to initialize the 'infinitescroll'  in your Amasty JS file.

[2019-03-07 08:06] Zyles commented on #41
Same problem with Aheadworks layered navigation. Clicking the button to load more does not work.

[2019-03-07 08:41] manishgoswamig commented on #41
@Zyles You need to call 'infinitescroll' in .js file from where ajax is fired in Ahedworks Layer Navigation.

[2019-03-07 11:18] manishgoswamig opened #44 "Configurable Product Swatches not showing in confugrable product"
In configurable product listing page swatches of configurable products are not showing.

![swatches](https://user-images.githubusercontent.com/46725562/53953027-5bef7e80-40f8-11e9-9e25-9ef8bd3824eb.png)

[2019-03-11 10:28] gsomoza commented on #44
Thanks for reporting. Could you please give us some details on your environment?
- Magento Version
- List of 3rd-party extensions that could be affecting the Catalog Listing page
- Name of theme you're using
- Anything else you think might be relevant

FYI if you're using a 3rd-party extension or theme, there's a chance you'll need to manually integrate some of the functionality by hooking in to o

[2019-03-11 10:31] gsomoza commented on #41
@manishgoswamij thanks for sharing possible solutions! Does that fix the issue for you @Zyles @icreativetechnology ?

[2019-03-11 10:31] gsomoza commented on #44
You might want to check this out regarding that last comment: https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/3rd-party-Extension-Conflicts

[2019-03-11 12:04] Zyles commented on #41
I don't really know where the code needs to go, so I don't know yet.

[2019-04-09 05:38] CharanjeetE opened #45 "Need to implement with third party extension"
Hi
I want to use this extension with blog extension which is showing posts and I want show more from this extension on the blog page. Please help me how I can use the code with another extension. Is there any function I can use to show the pagination on blog page.

[2019-04-09 11:41] gsomoza commented on #45
You're going to have to use a Magento developer to help you with this.. Since this is a free extension we don't offer free support, sorry..

[2019-04-09 11:41] #45 closed, assigned to nobody

[2019-05-08 10:12] #24 closed, assigned to nobody

[2019-05-08 10:23] gsomoza commented on #44
@manishgoswamij could you update to the latest version of the plugin? it introduces a feature that might fix your issue (see #46)

[2019-05-08 10:24] gsomoza commented on #41
@icreativetechnology @Zyles could you upgrade to the latest version of the extension? it introduces a feature that might fix your use-case. You can also see PR #46 to see an example of how to add your custom event listener to trigger other JS logic on various IAS events.

[2019-05-16 12:16] vishalbaytech opened #47 "Image not showing"
I used that extension but after scroll Product images not showing, I am using SM-Market theme.

[2019-05-16 13:10] vishalbaytech commented on #47
It was theme issue, fixed

[2019-05-16 13:10] #47 closed, assigned to nobody

[2019-07-15 11:11] ihor-sviziev opened #48 "Publish latest version to packagist.org"
Right now on GitHub we have latest version - 0.3.0, while on packagist.org we have latest version 0.2.5:
https://packagist.org/packages/strategery/magento2-infinitescroll

Could you publish latest version also to packagist.org in order to simplify extension installation?

I thought about workaround - adding github repo to composer.json like this:
[code]

But it didn't worked

Only installing as "d

[2019-07-15 16:51] intheshallow opened #50 "Not working in 2.3+"
I tried to get this working in Magento 2.3.2, but it doesn't seem to work. I also tried to change some of the selectors to match other classes, and no such luck.

[2019-07-15 22:17] easyoptical commented on #50
Do you mean that you get a blank screen, no infinite scrolling but still the category page, etc?  What happens when you try to run the extension?

If its an exception, can you post an excerpt showing the error from var/log/exception.log and/or your apache/nginx/etc logs?

[2019-07-16 13:58] intheshallow commented on #50
Hello,

It doesn't seem to do anything. The page is still running just fine, but the extension doesn't seem to take any effect.

https://www.mccaskillandcompany.com/designers/designers-alex-sepkus/

There is an example link to give you an idea.

I am seeing this error in the Inspector:

Uncaught ReferenceError: IASPagingExtension is not defined

I looked it up, and it seems to be a common error wh

[2019-07-16 14:23] intheshallow commented on #50
I seem to have got it working.

I added a etc/view.xml file to my custom theme and added this:

[code]

[2019-07-19 12:12] digvijay2017 commented on #44
@gsomoza

I am also getting this error. Actually, this module working perfectly in magento version 2.2.6.  But in version 2.3.1, I am getting the same error. In version 2.3.1 Swatch option are not loading on scrolling.
Please help.

Thanks

[2019-08-12 10:55] gewaechshaus opened #51 "Some help with jquery .on function"
Hey guys,

we are searching a good way to implement a jquery on function for items that are loaded by IAS. In our magento list.phtml we did include the following script, which is adding some the function to increase/decrease the quantity field on click.

[code]

We tried to archive this by adding the functions to
` window.ias.on('rendered', function(items){ ... }`.

 The result is, that it is work

[2019-08-12 11:56] #51 closed, assigned to nobody

[2019-08-19 09:32] gsomoza commented on #51
Hi @gewaechshaus – I was on holidays. Were you able to fix this?

[2019-08-19 09:46] gewaechshaus commented on #51
Hi @gsomoza - thanks for your reply. Hope you had a nice holiday...

Yes, we were able to fix this. We created an overwrite in our custom theme and placed it in a function which is triggered in both cases.

[2019-08-20 14:35] gsomoza commented on #51
Ah ok – glad to hear that!

[2019-08-27 10:35] cgsoratto commented on #39
Hi!

I solved this problem by doing this:

app/design/frontend/VENDOR/THEME/etc/view.xml

[code]

=D

[2019-09-10 09:07] #10 closed, assigned to damian-pastorini

[2019-09-10 09:07] #39 closed, assigned to nobody

[2019-09-10 09:07] #50 closed, assigned to nobody

[2019-12-18 00:35] zap263 opened #55 "Pagination"
Hi.. I would just like to know before I install this if it supports pagination too?  And will clicking the back button remember the position in the catalog or revert back to top?

[2019-12-19 16:49] gsomoza commented on #55
This actually uses pagination features to fetch the next pages, while optionally hiding the toolbar as well (can be configured).

Navigating "back" is one of the most complicated aspects of infinite scroll pagination in general, not only technical but also from an UX perspective. In order to stay "simple", this plugin is very dumb in that sense: it will simply take you back to the page where you w

[2019-12-19 16:49] #55 closed, assigned to nobody

[2020-01-22 09:38] shyopat opened #56 "jQuery is not defined & SgyIAS is not defined"
I have installed latest version of this extension getting error in console when i hard refresh ctrl + f5 on catalog page. i couldn't find what cause this issue.

Screenshot for your reference:
![image](https://user-images.githubusercontent.com/46157697/72882713-172d0000-3d29-11ea-81b6-80ebfc75d09c.png)

[2020-01-22 10:03] gsomoza commented on #56
Is it possible your theme doesn't have jQuery? We don't bundle it in our plugin.

[2020-01-22 10:03] gsomoza commented on #56
Are you able to replicate this issue on a clean M2 installation with the default theme?

[2020-01-22 13:02] shyopat commented on #56
Issue resolved
Changes in requirejs-config.js
var config = {
    paths: {
        'infinitescroll': 'Strategery_Infinitescroll/js/infinitescroll'
    },
    shim: {
            'infinitescroll': {
                deps: ['jquery']
            }
    }
};

[2020-01-22 16:10] gsomoza commented on #56
ok, thanks for reporting back!

[2020-01-22 16:10] #56 closed, assigned to nobody

[2020-01-22 16:16] gsomoza commented on #56
Are you interested in submitting a PR for this change?

[2020-01-22 16:18] gsomoza commented on #48
This should have been fixed, closing.

[2020-01-22 16:18] #48 closed, assigned to nobody

[2020-01-24 11:04] zap263 opened #57 "Pagination and back button"
Hi.. First of all thanks for your work in creating this extension and offering it for free!

I would just like to know if it still supports pagination with the infinite scroll and if a buyer clicks a product and goes back, will they be taken back to where they left off or would they be reverted back to the top of the page?

[2020-01-27 09:18] gsomoza commented on #57
Thanks for trying our extension out! If you end up using it and find a way to make it better, please don't hesitate to contribute your fixes/changes back!

For an answer to your question about going "back", please refer to #55

[2020-01-27 09:18] #57 closed, assigned to nobody

[2020-02-12 13:34] gsomoza commented on #41
Closing due to inactivity

[2020-02-12 13:34] #41 closed, assigned to nobody

[2020-02-12 13:34] gsomoza commented on #40
Closing due to inactivity

[2020-02-12 13:34] #40 closed, assigned to nobody

[2020-02-12 13:35] gsomoza commented on #34
Fixed with PR #54

[2020-02-12 13:35] #34 closed, assigned to nobody

[2020-02-12 13:36] gsomoza commented on #44
We merged some recent improvements to the way this plugin loads and executes code that should make it more robust, could you confirm if these issues persist on the latest versions of this module?

[2020-02-12 13:37] gsomoza commented on #44
To be more clear, we'd like to know which versions of the module you're using when this error happens, and would also like to know if the latest versions still have the same issues.

[2020-04-24 10:30] alucardatem commented on #41
Has anyone sorted out the issue here? managed to make it work with amasty shop by ?

[2020-05-15 13:46] BorisovskiP opened #59 "Products are not loaded after scrolling up"
In the product listing page , when you scroll down a page (for example page 4), open a product , then go back with the browser back button to the same product page listing, the products from the previous pages are not displayed.

The product listing begins from that page (page 4) and at the top there a toolbar of how many products are shown ( Product 13-24 from 731 )

**Preconditions (*)**

- PHP

[2020-05-15 13:58] BorisovskiP opened #60 "Product page changes with each request"
When you scroll down to a certain page (page 5), open a product, then go back to the same product listing using the browser back button.

If you click on the URL bar (current page is 5) and then click **ENTER** making a new request, the **URL** will increment and will be on page6. The view will also change to match the page being requested. This will continue with each new request.

**Precondition

[2020-07-09 06:06] BorisovskiP commented on #59
Do you also think that this is a bug @damian-pastorini  @gsomoza ?

[2020-07-14 11:01] gsomoza commented on #60
Thanks for reporting this with so much detail.

I'm a bit confused about when exactly the page number is incremented. If it is as you described then it would definitely be a bug, but it would mean the request is sent to the server for page 5 but the server responds with a 301 for page 6. It would be SO weird to me if that was actually happening, because this plugin doesn't intercept controllers or

[2020-07-14 11:02] gsomoza commented on #60
Essentially I'm trying to understand if there's a 301 causing the redirect to page 6, or if when going back the browser URL reflects page 6 incorrectly instead of page 5.

[2020-07-14 11:07] gsomoza commented on #59
No: this one is by design, because loading the previous pages is a bit risky (e.g. DoS) and technically complicated to implement. So we're letting people implement that themselves if they want to by hooking to the plugin using the provided method(s). There's more information on https://github.com/Strategery-Inc/Magento2-InfiniteScroll/issues/55

[2020-07-14 11:14] BorisovskiP commented on #60
I will send you a screen cast via email, is that ok?

[2020-07-14 11:25] BorisovskiP commented on #59
Ok, thanks for the explanation.

[2020-07-14 11:25] #59 closed, assigned to nobody

[2020-07-14 14:41] gsomoza commented on #60
Sure!

[2020-07-14 14:50] gsomoza commented on #60
Oh, I see what's happening: when going back, it sends you back correctly to page 5. In your theme the products are not loaded immediately, or they're not shown immediately, which means that it takes a bit of time before they're rendered into the DOM correctly, causing the initial page load to have a smaller height than it will have after the full page load. It's like the page is empty and the prod

[2020-07-16 19:14] sprankhub commented on #59
@gsomoza thanks for the explanation! However, I do not quite follow. What exactly is risky? I imagine the perfect UX as follows:

* User opens category page, sees products from first page.
* User scrolls down, products from pages 2, 3, 4, ... are added.
* From page 4, user clicks on a product, so that the product page is opened.
* User clicks back button. Only products from page 4 are shown. First

[2020-07-18 13:26] gsomoza commented on #59
There are two main reasons why I consider the "infinite upwards scroll" feature risky:

### UX
This is a feature everyone "thinks" they want, but once they experience it they actually wouldn't like it at all. This applies especially to users who aren't very dexterous:

1. Depending where you are on the page (e.g. page 20), it might be hard to get to the header of the previous page once you go "bac

[2020-07-20 10:45] sprankhub commented on #59
Thanks for the detailed explanation @gsomoza!

To be honest, solution 2 - having a "load previous products" button - sounds like exactly the right thing to me. This could of course be configurable. Do you consider this a proper feature request or do you think this should not be part of the extension at all?

[2020-07-20 14:28] gsomoza commented on #59
Yes, I can see this extension adding that feature as a configurable option that can be enabled, it could be interesting for many people. Would you consider contributing that feature?

[2020-07-20 19:12] sprankhub commented on #59
Cool. I cannot tell yet. If the client would like to have it, I am happy to contribute it. Otherwise, I fear it will not happen due to the lack of time. Should we then re-open this issue or would you like to create a new one with the concrete feature?

[2020-07-23 08:47] gsomoza commented on #59
We can reopen this issue, then we can reference the whole discussion for context on future support requests etc, as there's some useful information. Let me know if you're able to work on it and I'll reopen!

[2020-08-07 07:59] plhubert-tbd opened #62 "Magento 1 method name in Block Init.php"
[code]

You should use `$this->getViewFileUrl($url)` instead of `$this->getSkinUrl($url)`.

Pierre-Louis

[2020-08-11 15:55] gsomoza commented on #62
Thanks @plhubert-tbd – any chance you'd consider making a PR for this?

[2020-08-13 22:20] Axel29 opened #64 "Compatibility with PHP 7.4"
Hi,

I'm trying to upgrade Magento from 2.3.4 to 2.4.0 but I can't because of this extension's version constraint of PHP.
Could you please upgrade it to allow using PHP 7.4 which is now recommended for Magento Cloud 2.4.0?

### Preconditions
1. Magento Cloud v2.4.0
2. PHP 7.4

### Steps to reproduce
1. Install Magento Cloud 2.4.0
2. Install strategery/magento2-infinitescroll via composer

### Expe

[2020-08-21 13:22] gsomoza commented on #64
Hi @Axel29, we already have an open PR for 2.4 – see #63  – but we still need to QA it to confirm it works. Is that something you'd be willing to help with?

[2020-08-26 12:11] Axel29 commented on #64
Hi @gsomoza yeah I would like to test it :-)

[2020-10-06 07:20] MuhammadAbdullah92-1 opened #65 "Conflicting with Layered Navigation"
I am using ahead works layered navigation extension when I apply filter by the brand on the left sidebar it gives an error , Can you explain why this is occurring?

[2020-10-14 06:11] Rajat9620 opened #66 "Extension not working anymore"
Hello Support,
I have Magento 2.3.4 version where I have installed this extension. It was working fine before but now it is not working anymore.
I havn't made any new changes.
Please check once
https://sandbox.marineparkdistribution.com/

Let me know if you need any thing from my side.
Thanks

[2020-10-14 12:21] gsomoza commented on #66
Hi @Rajat9620, we only provide support for out of the box Magento installations. Can duplicate this issue on a clean Magento 2.3.4 installation? I'll reopen the ticket if this is indeed an OOTB issue.

[2020-10-14 12:21] #66 closed, assigned to nobody

[2020-11-05 05:17] pikulsky commented on #64
@Axel29 , do you have any results?
I've tested it locally, the module works OK in Magento 2.4.0 (PHP 7.4), no issue so far.

[2020-11-15 08:56] Vipin1988 opened #68 "Image not coming"
Hello,
After scroll in auto loaded product's images not loading. Please let me know asap what is the issue.
for more see here https://naturagrocery.com/all
PFA
![Screenshot from 2020-11-15 14-23-26](https://user-images.githubusercontent.com/7147482/99180688-6461de80-274e-11eb-81c2-dce42d53bf9b.png)

[2021-02-26 08:10] ihor-sviziev commented on #68
Hi @Vipin1988,
It seems like you have some image lazy load module that not integrates with the infinite scroll module.
You need to develop such integration yourself. That's the only way to fix your issue.

If you still feel that we have there some bug - let us know.

[2021-02-26 08:12] ihor-sviziev commented on #64
Hi @Axel29,
We already added PHP 7.4 support in https://github.com/Strategery-Inc/Magento2-InfiniteScroll/pull/63.
I'm closing this issue as it's already resolved.

[2021-02-26 08:12] #64 closed, assigned to nobody

[2021-02-28 18:18] minhluan259 commented on #44
@gsomoza , swatches not showing when enable this option:
STORES > Configuration > ADVANCED > Developer > JavaScript Settings > Move JS code to the bottom of the page: Yes

[2021-03-05 10:05] gsomoza commented on #44
Thanks for reporting @minhluan259, could you please provide details about your setup? See my message above from February 2020. It would help us point you in the right direction.

Also, just to be up-front about this: improvements to this module are for the most part relying on pull-request submissions, so if you're able to fix this issue please consider contributing the code back and we'll happily

[2021-04-21 06:13] ihor-sviziev commented on #68
Hi @Vipin1988 ,
I am closing this issue now due to inactivity.
Please reopen and update if you wish to continue.
Thank you for the collaboration!

[2021-04-21 06:13] #68 closed, assigned to ihor-sviziev

[2021-12-03 09:29] mahesh-code-work commented on #41
**Magento 2.4.3**

Hi, @manishgoswamig @gsomoza @Zyles  @alucardatem  can you please share your code?

I used **Amasty_Shopby** and **Strategery_Infinitescroll** modules.

I initialize the 'infinitescroll' in **amShopbyAjax.js** file at **app/code/Amasty/Shopby/view/frontend/web/js**

[code]
and also update **callAjax** function **success: function (response)**  and add one line:

`SgyIAS.init();`

[2022-04-15 01:03] Axel29 opened #70 "PHP requirements don't match Magento 2.4.4"
### Preconditions

1. Magento 2.4.4

### Steps to reproduce

1. Run `composer require strategery/magento2-infinitescroll`

### Expected result

1. No error is thrown
2. The module is installed

### Actual result

1. The following error is thrown because of PHP <= 7.4 in the composer.json requirements while Magento 2.4.4 requires PHP >= 8.1:

[code]

[2022-04-15 06:02] ihor-sviziev commented on #70
Hi @Axel29,
Thank you for the report!
Could you try installing the extension with ` --ignore-platform-reqs` flag and confirm it works?